
#page{
    .wrapper{
        padding: 0px;
    }
    #wrapper-navbar{
        margin-bottom: 10px;

        nav.navbar{
            background: url(http://chiefcoffeecup.com/wp-content/uploads/2020/05/orange-bg.jpg) 50% 50% no-repeat;
            background-size: cover;

            .container{
                max-width: none;
    
                a.navbar-brand{
                    font-family: 'Bangers', cursive;
                    font-size: 25px;
                    color: #fff;

                    img{
                        max-width: 50px;
                    }
                }

                ul#main-menu{
                    li{
                        a{
                            font-family: 'Poppins', sans-serif;
                            font-size: 16px;
                            font-weight: 300;
                            color: #fff;
                            padding-left:20px;
                            padding-right:20px;
                        }
                    }
                }

                .social-media-icons{
                    a{
                        font-size: 30px;
                        color: #fff;
                        margin-left: 7px;
                    }
                }
            }
        }

        
    }
    #page-wrapper{
        .container{
            max-width: none;
        }

        section#homebanner{
            .elementor-container{
                .elementor-column-wrap{
                    padding: 0px; 

                    .n2-ss-item-content{
                        font-family: 'Bangers', cursive;
                    }
                }
            }
        }

        section.elementor-element{
            .elementor-container{
                .green-box{
                    .elementor-widget-wrap{
                        background: url(http://chiefcoffeecup.com/wp-content/uploads/2020/05/green-bg.jpg) 50% 50% no-repeat transparent;
                        background-size: cover;

                        .elementor-image{
                            position: relative;

                            figcaption{
                                position: absolute;
                                text-align: center;
                                width: 100%;
                                top: 35%;
                                pointer-events: none;
                            }
                        }
                    }
                }
                .green-bg-50{
                    .elementor-column-wrap{
                        padding: 0 5px 0 10px !important;
                    }
                    .elementor-widget-wrap{
                        background: url(http://chiefcoffeecup.com/wp-content/uploads/2020/05/green-bg-50.jpg) 50% 50% no-repeat transparent;
                        background-size: cover;

                    }
                }
                .blue-bg-50{
                    .elementor-column-wrap{
                        padding: 0 10px 0 5px !important;
                    }
                    .elementor-widget-wrap{
                        background: url(http://chiefcoffeecup.com/wp-content/uploads/2020/05/blue-bg-50.jpg) 50% 50% no-repeat transparent;
                        background-size: cover;
                    }
                }
            }
        }

        section#half-section{
            margin-bottom: 10px;
            .elementor-container{
                .elementor-column-wrap{
                    padding: 0px 10px; 
                }
            } 
        }

        section#my-sponsors{
            margin-bottom: 10px;
        }

        section#contact{
            .elementor-container{
                .elementor-column-wrap{
                    a{
                        color: #fff;
                    }
                    form{
                        font-family: 'Poppins', sans-serif;
                        font-size: 16px;
                        font-weight: 300;
                        color: #fff;

                        .nf-form-content {
                            padding: 0px;
                        }

                        .nf-form-fields-required{
                            text-align: right;
                            font-size: 12px;
                        }

                        label{
                            font-weight: 300;
                            font-family: 'Poppins', sans-serif;
                            font-size: 16px;
                        }

                        input, textarea{
                            font-weight: 300;
                            font-family: 'Poppins', sans-serif;
                            font-size: 16px;
                        }

                        input[type=button]{
                            font-weight: 300;
                            font-family: 'Poppins', sans-serif;
                            font-size: 16px;
                            background-color: #FF5141 !important;
                            border-radius: 0px 0px 0px 0px;
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                            padding: 20px 40px 20px 40px;
                            text-transform: uppercase; 
                            height: auto !important;
                            cursor: pointer;

                            &:hover{
                                color: #fff;
                            }
                        }
                    }
                }
            } 
        }
    }

    #wrapper-footer{
        margin-top: 10px;
        margin-bottom: 10px;
        background: url(http://chiefcoffeecup.com/wp-content/uploads/2020/05/yellow-bg.jpg) 50% 50% no-repeat transparent;
        background-size: cover;

        .container{
            padding-top: 10px;
            padding-bottom: 10px;

            .site-info{
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                font-weight: 600;
                color: #1427B8;
            }
        }
    }
}